.left_card{
    width: 30%;
    position: relative;
}

.l-card{
    padding:5% 0 15px 15%;
}

@media(max-width:1280px){
    .l-card{
        padding:5% 10% 15px 10%;
    }
}

.center_card{
    width: 30%;
    position: relative;

}
.right_card{
    width: 35%
}

.comp-card p{
    color:#101010;
    font-size:14px;
    border-bottom:1px solid rgb(63, 81, 181);
    height:30px;
}

 .balance{
     color:rgb(121, 119, 119);
     padding-left:20px;
 }

.money{
    color:rgb(16,16,16);
    padding-left:40px;
    margin-top:10px;
    font-size: 14px;
}

.freeze{
    color:rgb(121, 119, 119);
    padding-left:20px;
    margin-top:20px
}

.see-more{
    font-size: 12px;
    color: rgba(63, 81, 181, 1);
    float: right;
    margin-top: 5px;
    cursor: pointer
}

.notice{
    color:rgb(16, 16, 16);
    margin-top: 7px;
}

.notice-title{
    width:60%;
    display: inline-block;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    margin-right: 5%;
}

.new{
    position: absolute;
    width: 42px;
    height:17px;
    display:inline-block;
    color:rgb(255,255,255);
    background-color:rgb(229,28,35);
    text-align: center;
}

/*.new::before{*/
    /*content: "NEW";*/
/*}*/

.time{
    float: right;
    margin-right: 2%;
    color: rgb(121, 119, 119)
}

.poster{
    width:auto;
    height:150px;
    margin: 20px 0;
    overflow: hidden
}

.options{
    display: flex;font-size: 14px;
    border-bottom: 1px solid rgb(220, 223, 230)
}

.option{
    width:100px;
    height:40px;
    text-align:center;
    line-height:40px;
    background-color: rgb(240, 242, 245);
    cursor: pointer;
}

.left-option{
    border-top: 1px solid rgb(220, 223, 230);
    border-left: 1px solid rgb(220, 223, 230);
    border-top-left-radius: 4px
}
.center-option{
    border-top: 1px solid rgb(220, 223, 230);
    border-right: 1px solid rgb(220, 223, 230);
}
.right-option{
    border-top: 1px solid rgb(220, 223, 230);border-top-right-radius: 4px;
    border-right: 1px solid rgb(220, 223, 230);
}


.detail{
    width: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding-bottom: 20px;
}

.detail div span{
    color: rgb(121, 119, 119);
}

.detail div div{
    display: inline-block;
    font-size: 16px;
    color: rgb(16, 16, 16);

}


.save{
    line-height: 18px;
    text-decoration: none;
    margin: 0 20px;
}

